<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>My Auction List</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    {% include "header.html" %}
    <div class="container">
        <div class="col-12">
            <h1>My Auction List</h1>
        </div>
        <div class="col-10"></div>
        <div class="col-2">
            <a href="{% url 'add_item' %}" class="btn btn-success">Add New Item</a>
        </div>
        <div class="col-12 d-flex justify-content-center mt-5">
            <table>
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Current Buyer</th>
                        <th>Starting Price</th>
                        <th>Current Price</th>
                        <th>Post Time</th>
                        <th>End Time</th>
                        <th>Status</th>
                        <!-- <th>Operation</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for auction in data %}
                    <tr>
                        <td><a href="{% url 'item_detail' auction.itemid %}">{{ auction.item_name }}</a></td>
                        {% if auction.buyer %}
                        <td><a href="{% url 'send_message' auction.buyerid auction.itemid %}">{{ auction.buyer }}</a></td>
                        {% else %}
                        <td>No buyer yet</td>
                        {% endif %}
                        <td>{{ auction.start_price }}</td>
                        <td>{{ auction.current_price }}</td>
                        <td>{{ auction.addtime }}</td>
                        <td>{{ auction.endtime }}</td>
                        <td>{{ auction.status }}</td>
                        <!-- <td>Edit</td> -->
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
