{% extends "header.html" %} {% block content %}
<style>
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th,
  td {
    padding: 10px;
  }
  th {
    background-color: #f2f2f2;
  }
</style>

<h1>My Bid List</h1>

<section class="d-flex justify-content-center">
  <table>
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Seller</th>
        <th>Your Bid Price</th>
        <th>Bid Time</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for bid in data %}
      <tr>
        <td><a href="{% url 'item_detail' bid.itemid %}">{{ bid.title }}</a></td>
        <td><a href="{% url 'send_message' bid.sellerid bid.itemid %}">{{ bid.seller_username }}</a></td>
        <td>{{ bid.amount }}</td>
        <td>{{ bid.bidTime }}</td>
        <td>{{ bid.status }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}
