{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}EcoWear{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'mypage/css/home.css' %}" />
  </head>
  <body>
    <nav class="navbar navbar-expand-xl navbar-primary bg-success">
      <div class="container-fluid">
        <a class="navbar-brand text-light" href="{% url 'home' %}">EcoWear</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-light">
          <li class="nav-item">
            <a
              class="nav-link active text-light"
              aria-current="page"
              href="{% url 'home' %}"
            >
              Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active text-light"
              aria-current="page"
              href="{% url 'auction' %}"
            >
              My Auctions</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active text-light"
              aria-current="page"
              href="{% url 'bid' %}"
            >
              My Bids</a
            >
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a
              class="nav-link active text-light"
              href="{% url 'my_favorites' %}"
              >Favorite List</a
            >
          </li>
          {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}
          <li class="nav-item text-light">
            <h6 class="nav-link active">
              Logged In as <a href="{% url 'user_profile' %}"><strong>{{ user.username }}</strong></a>
            </h6>
          </li>
          <li class="nav-item">
            <a
              class="btn btn-outline-light ml-4 btn-sm mt-1"
              href="{% url 'logout' %}"
              role="button"
              >Logout</a
            >
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div id="main">{% block content %}{% endblock %}</div>
  </body>
</html>
