{% extends "header.html" %} {% load static %} {% block content %}
<br /><br /><br /><br />
<div class="container shadow-lg w-75">
  <div class="row">
    <div class="col-5 mt-5">
      <div class="img-container">
        <img
          src="/static{{ item.image }}"
          alt="{{ item.title }}"
          class="detail-img"
        />
      </div>
    </div>
    <div class="col-7">
      <h2 class="detail-title pb-3 mt-5 justify-content-center">
        {{ item.title }}
      </h2>
      <p>{{ item.description }}</p>
      {% if user.is_authenticated %} {% if is_favorited %}
      <a href="{% url 'toggle_favorite' item.itemid %}" class="btn btn-warning"
        >Remove from Favorite List</a
      >
      {% else %}
      <a href="{% url 'toggle_favorite' item.itemid %}" class="btn btn-success"
        >Add to Favorite List</a
      >
      {% endif %} {% endif %} {% if highest_bid %}
      <p>Current highest bid: ${{ highest_bid.amount }}</p>
      {% else %}
      <p>No bids yet.</p>
      {% endif %} {% if user.is_authenticated %} {% if bidding_active %}
      <form method="post">
        {% csrf_token %} {{ bid_form }}
        <button type="submit" class="btn btn-primary">Place Bid</button>
      </form>
      {% else %}
      <p>The bidding session for this item is over.</p>
      {% endif %} {% endif %}
    </div>
  </div>
</div>
{% endblock %}
