{% extends "header.html" %} {% load static %} {% block content %}
<br /><br /><br /><br />
<div class="container shadow-lg w-75">
  <div class="row">
    <div class="col-5 mt-5">
      <div class="img-container">
        <img
          src="/static{{ item.image }}"
          alt="{{ item.title }}"
          class="detail-img"
        />
      </div>
    </div>
    <div class="col-7">
      <h2 class="detail-title pb-3 mt-5 justify-content-center">
        {{ item.title }}
      </h2>
      <p>{{ item.description }}</p>
      {% if user.is_authenticated %} {% if is_favorited %}
      <a href="{% url 'toggle_favorite' item.itemid %}" class="btn btn-warning"
        >Remove from Favorite List</a
      >
      {% else %}
      <a href="{% url 'toggle_favorite' item.itemid %}" class="btn btn-success"
        >Add to Favorite List</a
      >
      {% endif %} {% endif %} {% if highest_bid %}
      <p class="top-margin-custom">
        Current highest bid: ${{ highest_bid.amount }}
      </p>
      {% else %}
      <p class="top-margin-custom">No bids yet.</p>

      <div id="countdown"></div>

      <script>
        // Calculate the target end time for the countdown
        var countDownDate = new Date(
          "{{ bidding_end_time|date:'Y-m-d H:i:s' }}"
        ).getTime();

        // Update the count down every 1 second
        var x = setInterval(function () {
          // Get today's date and time
          var now = new Date().getTime();

          // Find the time remaining
          var distance = countDownDate - now;

          // Time calculations for days, hours, minutes and seconds
          var days = Math.floor(distance / (1000 * 60 * 60 * 24));
          var hours = Math.floor(
            (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
          );
          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
          var seconds = Math.floor((distance % (1000 * 60)) / 1000);

          // Display the result in the element with id="countdown"
          document.getElementById("countdown").innerHTML =
            days + "d " + hours + "h " + minutes + "m " + seconds + "s ";

          // If the countdown is finished, write some text
          if (distance < 0) {
            clearInterval(x);
            document.getElementById("countdown").innerHTML =
              "Bidding session is over";
          }
        }, 1000);
      </script>

      {% endif %} {% if user.is_authenticated %} {% if bidding_active %}
      <style>
        .top-margin-custom {
          margin-top: 20px;
        }
      </style>
      <form method="post">
        {% csrf_token %} {{ bid_form }}
        <button
          type="submit"
          name="bid"
          class="btn btn-primary top-margin-custom"
        >
          Place Bid
        </button>
      </form>

      <a
        href="{% url 'send_message' seller_id item.itemid %}"
        class="btn btn-primary top-margin-custom"
        >Contact Seller</a
      >
      {% else %}
      <p>The bidding session for this item is over.</p>
      {% endif %} {% endif %}
    </div>
  </div>
</div>
{% endblock %}
