{% load static %}

<!DOCTYPE html>
<html>

<head>
	<title>EcoWear Sign up</title>
	 <link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
</head>

<body>
	<div class="main">
		<h1>Sign Up</h1>
		<form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
			<label for="username">
				Username:
			</label>
			<input type="text"
				id="username"
				name="username"
				placeholder="Enter your Username" required>

            <label for="email">
				Email:
			</label>
			<input type="email"
				id="email"
				name="email"
				placeholder="Enter your Email">

			<label for="password">
				Password:
			</label>
			<input type="password"
				id="password"
				name="password"
				placeholder="Enter your Password" required>

            <label for="firstname">
				First Name:
			</label>
			<input type="text"
				id="firstname"
				name="firstname"
				placeholder="Enter your First Name">

            <label for="lastname">
				Last Name:
			</label>
			<input type="text"
				id="lastname"
				name="lastname"
				placeholder="Enter your Last Name">

			<div class="wrap">
				<button type="submit">
					Submit
				</button>
			</div>
		</form>

		<p>Already had an account?
			<a href="{% url 'login' %}"
			style="text-decoration: none;">
				Login here
			</a>
		</p>
	</div>
</body>

</html>
